.menu {
  color:red;
border-width: medium;
border-style: solid;
}
.menu li{
  
  background-color: none;
	list-style: none;
	display: inline-block;
  border-width: medium;
	width: 450px;
	height: 30px;
	text-align: center;
  line-height: 30px;
  border-style: solid;
}
h1{
  text-align: center;
  border-style: solid;
  border-width: medium;
}
#默认图片盒{
  text-align: center;
  border-width: medium;
  border-style: solid;
}